{% extends 'Blog/base.html' %}

{% block title %}Accueil | Recette{% endblock %}

{% block content %}

    <main>
      {% include 'Blog/hero.html' %}

      <div class="bg-light">
        <div class="container">
          <div class="row">
            <div class="col-md-8 mt-3 ">
              <div class="card">
                <div class="body">
                  <h2 class="card-title mt-4 ms-4 mb-4">Catégorie</h2>
                  {% for post in posts %}
                    <div class="card mt-2 mb-2 ms-2 me-4">
                      <img src="{{ post.image.url }}" alt="Post image" class="card-img-top" style="height: 400px; width: auto">
                      <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{post.content|truncatewords:10 }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <button type="button" class="btn btn-sm"><a href="{% url 'post_detail' post.slug %}" class="btn btn-outline-primary">Read More &rarr;</a></button>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer">
                        <small class="text-muted">{{ post.created_on|timesince}}</small>
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% include 'Blog/sidebar.html' %}
          </div>
        </div>
      </div>

    </main>

{% endblock %}