{% extends 'Blog/base.html' %}

{% block content %}

{% include 'Blog/hero.html' %}
<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h5 class="card-title">{{ detail.title }}</h5>
        <p class=" text-muted">plublié par {{ detail.author }}</p>
        <img src="{{ detail.image.url }}" alt="Post image" class="card-img-top mb-5" style="height: 350px">
        <p class="card-text ">{{ detail.content | safe }}</p>
        <div class="mb-3">
        <small class="text-muted">{{ detail.created_on }}</small>
      </div>
      <div class="card-body">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
          <label for="floatingTextarea2">Comments</label>
        </div>
      </div>
    </div>
    {% include 'Blog/sidebar.html' %}
  </div>
</div>

{% endblock %}
