
<!-- Sidebar Widgets Column -->
<div class="col-md-4 pt-4 float-right ">
  <div class="card my-2">
      <h5 class="card-header">Catégories</h5>
      <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for cats in cat %}
                <li class="list-group-item">{{ cats.name }}</li>
            {% endfor %}
          </ul>
      </div>
  </div>
    <div class="card my-2">
      <h5 class="card-header">Recettes en relation</h5>
      <div class="card-body">
          <ul class="list-group list-group-flush">
            {% for recetteEnRelations in recetteEnRelation %}
                <li class="list-group-item">{{ recetteEnRelations.title }}</li>
            {% endfor %}
          </ul>
      </div>
  </div>
</div>
